body {
	margin: 0 auto;
	font: 14px/1.5 "Open Sans", Arial, sans-serif;
	i{
		padding: 0 5px;
	}
}

/**************** Common Classes *****************/

.active {
	border-width: 0 0 2px 0;
	border-style: solid;
}

.imageHover{
	display: block;
	transition: .5s ease;
	&:hover{
		opacity: 0.7;
	}
}

.activeOranege{
	color: $colorOrangee;
	&:hover{
		color: $colorOrangee;
	}
}

.activeGreen{
	color: $colorGreeeen;
	&:hover{
		color:  $colorGreeeen;
	}
}

.activeBlue{
	color: $colorBlue;
	&:hover{
		color: $colorBlue;
	}
}

.activeRed{
	color: $colorRed;
	&:hover{
		color: $colorRed;
	}
}

.activeLightRed{
	color: $colorLightRed;
	&:hover{
		color: $colorLightRed;
	}
}

.activeRedFlower{
	color: $colorFlower;
	&:hover{
		color: $colorFlower;
	}
}

.activePink{
	color: $colorPink;
	&:hover{
		color: $colorPink;
	}
}

.activeBrown{
	color: $colorBrown;
	&:hover{
		color: $colorBrown;
	}
}

.activeGreenBlueBorder{
	border-color: $colorGreenBlue;
}

.activeOranegeBorder{
	border-color: $colorOrangee;
}

.activeGreenBorder{
	border-color: $colorGreeeen;
}

.activeBlueBorder{
	border-color: $colorBlue;
}

.activeRedBorder{
	border-color: $colorRed;
}

.activeLightRedBorder{
	border-color: $colorLightRed;
}

.activeRedFlowerBorder{
	border-color: $colorFlower;
}

.activePinkBorder{
	border-color: $colorPink;
}

.activeBrownBorder{
	border-color: $colorBrown;
}

.activeBackPink{
	background-color: $colorPink;
}

.activeBackGreenBlue{
	background-color: $colorGreenBlue;
}

.activeBackBrown{
	background-color: $colorBrown;
}

.activeBackFlower{
	background-color: $colorFlower;
}

.activeBackLightRed{
	background-color: $colorLightRed;
}

.activeBackRed{
	background-color: $colorRed;
}

.activeBackOrange{
	background-color: $colorOrangee;
}

.activeBackGreen{
	background-color: $colorGreeeen;
}

.activeBackBlue{
	background-color: $colorBlue;
}

.displayNone{
	display: none;
}

.imageCategory{
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 3;
	span{
		color: white;
	}
	a{
		color: white;
	}
}

.images{
	p{
		padding: 10px 0;
		color: gray;
		margin: 0;
		font-size: 13px;
	}
	h5{
		border-width: 0 0 0 3px;
		border-style: solid;
		padding: 2px 10px;
		a{
			color: $blackcolor;
			font-family: "Roboto Slab", Georgia, serif;
		}
	}
	.imagesDiv{
		position: relative;
		.comment{
			padding: 5px 10px;
			background-color: $colorSearch;
			color: gray;
			p{
				margin: 0;
				padding:0;
			}
		}
	}
}

.listDiv{
	ul{
		border-top: 1px solid $navcolor;
		margin: 0;
		li{
			padding-top: 20px;
			.col-md-9{
				div{
					margin-left: -15px;
					span{
						color: gray;
						font-size: 13px;
					}
					p{
						padding: 5px 0;
						margin: 0;
						border-bottom: 1px solid $navcolor;
						font-size: 13px;
						font-family: "Roboto Slab", Georgia, serif;
						@media screen and (max-width: 767px){
							padding: 20px 0;
						}
					}
				}
			}
		}
	}
}

.entertainment{
	border-bottom:1px solid $navcolor;
	border-top:1px solid $navcolor;
	background-color: $colorSearch;
	margin: 30px 0;
	padding: 5px 15px;
	ul{
		margin: 0;
		li{
			position: relative;
			a{
				color: gray;
			}
			.activeList{
				&::before{
					content: "";
					width: 0;
					height: 0;
					position: absolute;
					left: 38%;
					top: 23px;
					border-style: solid;
					border-width: 0 5px 5px 5px;
					border-color: transparent transparent white transparent;
				}
			}
		}
	}
	h5{
		margin: 0;
		line-height: 22px;
		font-weight: 600;
	}

}

.dropDownRightComment {
	span {
		color: lightgray;
		float: left;
	}
	p {
		color: lightgray;
		float: right;
		margin:0;
	}
	a{
		h5{
			font-size: 13px;
			border: 0;
			border-bottom: 1px solid $navcolor;
			color: $navcolor;
		}
	}
}

.comment {
	height: 30px;
	background-color: white;
	padding: 5px 10px;
	span {
		float: left;
		color: gray;
	}
	p {
		color: gray;
		float: right;
	}
}