*{
	&::selection{
		background: $colorLightRed;
		color: white;
	}
}

body {
	margin: 0 auto;
	font: 14px/1.5 "Open Sans", Arial, sans-serif;
	i{
		padding: 0 5px;
	}
}
	.a{
		color: gray;
	}
.registerlinkForm{
		@media screen and(max-width: 768px) {
			width: 250px;
    		margin-left: -90px;
		}
		display: none;
		position: fixed;
	    margin: 0;
	    top: 30%;
	    left: 35%;
	    z-index: 1050;
	    width: 560px;
	    outline: none;
	    .margBottom{
		margin-bottom: 30px;
	}
	.rightMenu{
		
	}
	.activeClick{
		height: 350px;
		width: 350px;
	}
	a{
		color: gray;
	}
	.header{
		color: $blackcolor;
		margin: 0 -15px;
		padding: 9px 15px;
    	background: #f2f2f2
	}
	.radius{
		border-radius: 0;
	}
	.searchText{
	background: #f9f9f9;
    border: 1px solid #d9d9d9;
    height: 35px;
    outline: 0;
    padding-left: 7px;
    font-size: 13px;
    color: #a6a6a6;
    width: 100%;
	}
	.formButton{
		float: right;
	background-color: #e54e53;
	color: white;
    font-size: 13px;
    text-transform: uppercase;
    height: 35px;
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
	}
	.Top{
		padding: 30px 0px;
	}
	}
.registerForms{
	@media screen and(max-width: 768px) {
		opacity: 0.8;
	}
	display: none;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.6;
	
		
 	.col-md-4{
 		background-color: white;
 	}
}
/**************** Common Classes *****************/
.twitter{
	background-color: #00ABE3;
	i{
		color: white;
	}
}

.facebook{
	background-color: #004088;
	i{
		color: white;
	}
}

.linkedIn{
	background-color: #01669C;
	i{
		color: white;
	}
}

.pinterest{
	background-color: #CA2128;
	i{
		color: white;
	}
}

.rss{
	background-color: #FF5B22;
	i{
		color: white;
	}
}

.google{
	background-color: #D3492C;
	i{
		color: white;
	}
}

.tumblr{
	background-color: #44546B;
	i{
		color: white;
	}
}

.mail{
	background-color: #19232D;
	i{
		color: white;
	}
}

.sectionPadding{
	padding: 40px 0;
}

.active {
	border-width: 0 0 2px 0;
	border-style: solid;
}

.activeSmall{
	background-color: #1E2935;
}

.activeBackGray{
	background-color: $navcolor/1.3;
}

.imageHover{
	display: block;
	transition: .5s ease;
	&:hover{
		opacity: 0.8;
	}
}

.activeOranege{
	color: $colorOrangee;
	&:hover{
		color: $colorOrangee;
	}
}

.activeGreen{
	color: $colorGreeeen;
	&:hover{
		color:  $colorGreeeen;
	}
}

.activeBlack{
	color: $blackcolor;
}

.activeBlue{
	color: $colorBlue;
	&:hover{
		color: $colorBlue;
	}
}

.activeRed{
	color: $colorRed;
	&:hover{
		color: $colorRed;
	}
}

.activeLightRed{
	color: $colorLightRed;
	&:hover{
		color: $colorLightRed;
	}
}

.activeRedFlower{
	color: $colorFlower;
	&:hover{
		color: $colorFlower;
	}
}

.activeBackWhite{
	background-color: white;
}
.activeWhite{
	color: white;
	&:hover{
		color: white;
	}
}
.activeBackGrayGunay{
	background-color: $colorBack;
}

.activePink{
	color: $colorPink;
	&:hover{
		color: $colorPink;
	}
}

.activeBrown{
	color: $colorBrown;
	&:hover{
		color: $colorBrown;
	}
}

.activeGreenBlueBorder{
	border-color: $colorGreenBlue;
}

.activeOranegeBorder{
	border-color: $colorOrangee;
}

.activeGreenBorder{
	border-color: $colorGreeeen;
}

.activeBlueBorder{
	border-color: $colorBlue;
}

.activeRedBorder{
	border-color: $colorRed;
}

.activeLightRedBorder{
	border-color: $colorLightRed;
}

.activeRedFlowerBorder{
	border-color: $colorFlower;
}

.activePinkBorder{
	border-color: $colorPink;
}

.activeBrownBorder{
	border-color: $colorBrown;
}

.activeBackPink{
	background-color: $colorPink;
}

.activeBackGreenBlue{
	background-color: $colorGreenBlue;
}

.activeBackBrown{
	background-color: $colorBrown;
}

.activeBackFlower{
	background-color: $colorFlower;
}

.activeBackLightRed{
	background-color: $colorLightRed;
}

.activeBackRed{
	background-color: $colorRed;
}

.activeBackOrange{
	background-color: $colorOrangee;
}

.activeBackGreen{
	background-color: $colorGreeeen;
}

.activeBackBlue{
	background-color: $colorBlue;
}

.displayNone{
	display: none;
}
.topBorderRow{
	border-top: 2px solid $colorRed;
}
.pageNewsHeader{
	border-width: 0 0 0 3px;
	border-style: solid;
	padding: 10px;
	margin: 0;
	span{
		font-weight: 600;
		margin-left: 15px;
	}
}

.imageCategory{
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 3;
	font-size: 13px;
	span{
		color: white;
	}
	a{
		color: white;
	}
}

.images{
	p{
		padding: 10px 0;
		color: gray;
		margin: 0;
		font-size: 13px;
	}
	h5{
		border-width: 0 0 0 3px;
		border-style: solid;
		padding: 2px 10px;
		a{
			color: $blackcolor;
			font-family: "Roboto Slab", Georgia, serif;
		}
	}
	.imagesDiv{
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
		}
		.comment{
			padding: 5px 10px;
			background-color: $colorSearch;
			color: gray;
			p{
				margin: 0;
				padding:0;
			}
		}
	}
}

.listDiv{
	img{
		width: 100%;
	}
	ul{
		border-top: 1px solid $navcolor;
		margin: 0;
		li{
			padding-top: 20px;
			.col-md-9{
				div{
					margin-left: -15px;
					span{
						color: gray;
						font-size: 13px;
					}
					p{
						padding: 7px 0;
						margin: 0;
						border-bottom: 1px solid $navcolor;
						font-size: 13px;
						font-family: "Roboto Slab", Georgia, serif;
						@media screen and (max-width: 767px){
							padding: 20px 0;
						}
						a{
							color: $blackcolor
						}
					}
				}
			}
		}
	}
}

.listDivEnter{
	ul{
		border:none;
		li{
			padding:0;
			margin-bottom: 20px;
		}
	}
}


.entertainment{
	border-bottom:1px solid $navcolor;
	border-top:1px solid $navcolor;
	background-color: $colorSearch;
	padding: 5px 15px;
	ul{
		margin: 0;
		li{
			position: relative;
			a{
				color: gray;
			}
			.activeList{
				&::before{
					content: "";
					width: 0;
					height: 0;
					position: absolute;
					left: 38%;
					top: 23px;
					border-style: solid;
					border-width: 0 5px 5px 5px;
					border-color: transparent transparent white transparent;
				}
			}
		}
	}
	h5{
		margin: 0;
		line-height: 22px;
		font-weight: 600;
	}

}

.dropDownRightComment {
	span {
		color: lightgray;
		float: left;
	}
	p {
		color: lightgray;
		float: right;
		margin:0;
	}
	a{
		h5{
			font-size: 13px;
			border: 0;
			border-bottom: 1px solid $navcolor;
			color: $navcolor;
		}
	}
}

.comment {
	height: 30px;
	background-color: white;
	padding: 5px 10px;
	span {
		float: left;
		color: gray;
	}
	p {
		color: gray;
		float: right;
	}
}

.sliderSection{
	&:hover .slideBtnLeft{
		opacity: 0.5;
	}
	&:hover .slideBtnRight{
		opacity: 0.5;
	}
	.homeSlider{
		.slideImage{
			position: relative;
			width: 100%;
			overflow: hidden;
			display: none;
			.imageCategory{
				margin-left: 10px;
			}
			img{
				width: 100%;
				transition: .5s ease;
				&:hover{
					transform: scale(1.1);
					opacity: 0.9;
				}
			}
			p{
				position: absolute;
				left: 20px;
				bottom: 50px;
				font-size: 12px;
				color: $navcolor;
			}
			h4{
				position: absolute;
				left: 20px;
				bottom: 20px;
				font-family: "Roboto Slab", Georgia, serif;
				a{
					color: $navcolor*1.2;
				}
			}
			&:first-child{
				display: block;
			}
		}
	}
	.slideBtnLeft{
		padding: 3px 8px;
		background-color: $navcolor*1.2;
		position: absolute;
		top: 45%;
		left: 35px;
		opacity: 0;
		transition: .5s ease;
		&:hover{
			opacity: 1;
		}
	}
	.slideBtnRight{
		padding: 3px 8px;
		background-color: $navcolor*1.2;
		position:absolute;
		top: 45%;
		right: 35px;
		opacity: 0;
		transition: .5s ease;
		&:hover{
			opacity: 1;
		}
	}
	ul{
		margin: 0;
		position: absolute;
		bottom: -5px;
		li{
			display: inline-block;
			height: 4px;
			transition: .5s ease;
		}
		&:hover li{
			height: 7px;
		}
	}
}

.right{
	img{
		font-size: 0;
		width: 100%;
	}
	.rightMenu{
		margin-bottom: 30px;
		h6{
			padding: 12px 12px;
			background-color: $blackcolor;
			color: $navcolor*1.1;
		}
		.headerList{
			background-color: $blackcolor;
			li{
				float: left;
				padding: 7px 12px;
				font-size: 13px;
				a{
					color: $navcolor*1.1;
					text-decoration: none;
				}
			}
		}
		.newsList{
			li{
				margin-top: 30px;
				.col-md-4{
					div{
						position: relative;
						a{
							&:last-child{
								margin-right: -13px;
							}
						}
						span{
							position: absolute;
							right: 0;
							bottom: 3px;
							z-index: 3;
							a{
								padding: 5px;
								color: white;
								font-size: 10px;
								font-weight: bold;
								text-decoration: none;
							}
						}
					}
				}
				.col-md-8{
					div{
						span{
							color: $navcolor/1.3;
							font-size: 12px;
						}
						p{
							padding: 7px 0;
							margin: 0;
							border-bottom: 1px solid $navcolor;	
							font-size: 13px;
							a{
								color: $blackcolor;
								font-family: "Roboto Slab", Georgia, serif;
							}
							@media screen and (min-width: 768px) and (max-width: 991px){
								padding: 28px 0;
							}
							@media screen and (max-width: 767px){
								padding: 25px 0;
							}
						}							
					}
				}
			}
		}
		.sliderSection{
			margin-top: 30px;
			.slideBtnLeft{
				padding: 0px 4px;
				top: 50%;
			}

			.slideBtnRight{
				padding: 0px 4px;
				top: 50%;
			}
		}
	}
}

.slowSlider{
	overflow: hidden;
	.sliderSection{
		margin-bottom: 30px;
		.homeSlider{
			width: 205%;
			transition: .5s ease;
			.slowSlideItem{
				span{
					a{
						color: $blackcolor;
						font-family: "Roboto Slab", Georgia, serif;
					}
				}
				img{
					width: 100%;
				}
			}
		}
	}
	.slideBtnLeft{
		padding: 0px 4px;
		top: 40%;
	}

	.slideBtnRight{
		padding: 0px 4px;
		top: 40%;
	}
}


.fashionItem{
	padding: 30px 0;
	border-bottom: 1px solid $navcolor;
	.comment{
		padding: 0;
		height: 20px;
		font-size: 12px;
		p{
			margin: 0;
		}
	}
	h5{
		a{
			color: $blackcolor;
			font-family: "Roboto Slab", Georgia, serif;
		}
	}
	p{
		color: gray;
	}
}

hr{
	margin: 20px  0;
	border-color: $navcolor; 
}


.readMoreBtn{
	width: 100px;
	padding: 2px 10px;
	a{
		color: white;
	}
}


.fullComment{
	h3{
		border-width: 0 0 0 3px;
		border-style: solid;
		font-size: 20px;
		float: left;
		padding: 5px 10px;
		color: $blackcolor;
		a{
			color: $blackcolor;
			font-family: "Roboto Slab", Georgia, serif;
		}
	}
	p{
		font-size: 16px;
		padding: 22px 0;
	}
}

.newsAuthor{
	padding: 6px 0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: $navcolor;
	margin: 10px 0;
	p{
		float: left;
		color: $navcolor/1.3;
		padding: 0;
	}
	span{
		float: right;
	}
	a{
		color: $blackcolor;
	}
}


.galleryItem{
	position: relative;
	margin-bottom: 30px;
	img{
		width: 100%;
	}
	.galleryBtn{
		z-index: 8;
		padding: 4px 16px;
	    position: absolute;
	 	bottom: 140px;
	    left: 10px;
		span{
			color: #fff;
			font-size: 14px;
			text-decoration: none;
			}	
	}
	.galleryItemTitle{
		width: 100%;
		padding: 5px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		text-shadow: 1px 1px 1px gray;
		background: linear-gradient(transparent, black);
		p{
			font-size: 12px;
			margin: 0;
			color: $colorSearch;
		}
		h5{
			font-family: "Roboto Slab", Georgia, serif;
			a{
				color: $colorSearch*1.1;
			}
		}
		h1{
			font-family: "Roboto Slab", Georgia, serif;
			color: white;
		    padding-right: 25px;
			padding-bottom: 28px;
		}
	}
}


.leftContent{
	padding-right: 15px;
	border-right: 1px solid $navcolor;
	@media screen and (min-width:768px) and (max-width: 991px){
		padding:0;
		border: none;
	}
	@media screen and (max-width: 767px){
		padding:0;
		border: none;
	}
	.sliderSection{
		position: relative;
	}
	.row{
		.leftBorder{
			border-right: 1px solid $navcolor;
			@media screen and (max-width: 767px){
				border: none;
			}
		}
		.col-md-6{
			.images{
				a{
					color: $blackcolor;
				}
			}
			.imageCategory{
				a{
					color: white;
				}
			}
			.galleryItemTitle{
				h5{
					a{
						color: $colorSearch*1.1;
					}
				}
			}
		}
		.homeItemListBottom{
			li{
				padding: 10px 0;
				font-size: 13px;
				border-top: 1px solid $navcolor;
				a{
					color: $blackcolor;
					font-family: "Roboto Slab", Georgia, serif;
				}
			}
		}
	}
}

.testPageParagraph{
	.mainSentence{
		margin: 15px 0;
		padding: 20px 25px;
		background-color: $colorSearch;
		border-left: 3px solid $navcolor;
	}
	p{
		line-height: 25px;
		color: darkslategray;
		font-size: 14px;
		margin-bottom: 20px;
		span{
			font-weight: bold;
		}
	}
	h4{
		font-weight: bold;
	}
	ul{
		list-style: square;
		li{
			color: darkslategray;
			font-size: 14px;
			line-height: 25px;
		}
	}
}

.errorBox{
	margin: 100px 0;
	h1{
		font-size: 4.6em;
		margin: 12px 0;
	}
	h3{
		font-weight: bold;
	}
	p{
		margin: 10px 0;
		line-height: 25px;
	}
	a{
		font-size: 13px;
	}
	ul{
		li{
			i{
				padding: 0 10px 0 0;
			}
		}
	}
}

.pageTitle{
	margin-bottom: 30px;
}

.authorContact{
	a{
		color: darkslategray;
		transition: .5s ease;
	}
	ul{
		li{
			display: inline-block;
			&:hover{
				color: $blackcolor;
				position: relative;
			}
		}
	}
	li[title]{
		&:hover{
		&::after {
		  	content: attr(title);
		  	padding: 2px 4px;
		  	color: white;
		  	background-color: rgba(0,0,0,0.8);
		  	position: absolute;
		  	left: -60%;
		  	z-index: 5;
		  	font-size: 12px;
		  	border-radius: 4px;
		  	}
		}
	}
}

.contactUsForm{
	.inputStyle{
		width: 100%;
		background-color: $colorSearch;
		border: 1px solid $navcolor;
		padding: 5px 10px;
		outline: none;
		&::placeholder{
			font-size: 13px;
			color: darkgray;
		}
		&:focus{
			border: 1px solid darkgray;
			&::placeholder{
				color: dimgray;
			}
		}
	}
	.contactBtn{
		background-color: $blackcolor;
		border: none;
		padding: 5px 22px;
		color: white;
	}
}

.socialShare{
	padding-top: 10px;
	ul{
		margin: 0;
		li{
			width: 60px;
			padding: 4px 15px;
			float: left;
			margin: 0 0 5px 5px;
			transition: .5s ease;
			i{
				font-size: 20px;
			}
			&:hover{
				color: $blackcolor;
				position: relative;
			}
		}
	}
	li[title]{
		&:hover{
		&::after {
		  	content: attr(title);
		  	padding: 2px 4px;
		  	color: white;
		  	background-color: rgba(0,0,0,0.8);
		  	position: absolute;
		  	top: -30px;
		  	left: 0;
		  	z-index: 5;
		  	font-size: 12px;
		  	border-radius: 4px;
		  	}
		}
	}
}

.percentRange{
	.col-lg-3 {
		div{
			padding: 20px;
			color: white;
			text-align: center;
			h1{
				font-size: 56px;
				margin-top: 0;
				font-weight: 600;
				span{
					font-size: 28px;
				}
			} 
			p{
				margin: 0 10px;
			}
		}
	}
	h5{
		span{
			font-weight: 600;
		}
	}
	.range{
		height: 25px;
	}
}