#content{
	.pading{
		padding-right: 2px;
	}
	width: 100%;
	.infoTab{
		display: none;
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1040;
	    background-color: #000000;
	    opacity: 0.8;
	}
	.infoImgTab{
		position: fixed;
		top: 20px;
	    left: 335px;
	    display: none;
	    z-index: 1200;
	}
	.imageTab{
		// background: url(../Image/92334668@N07-11368399496_102334390b_o.jpg);
		background-color: white;
		// padding: 10px;
		width: 650px;
		height: 470px;
		border: 8px solid white;
		background-repeat: no-repeat;
		border-radius: 5px;
		img{
			width: 100%;
		}
		.pstyle{
			color: gray;
			font-size: 12px;
			margin: 5px 50px 5px 5px;
		}
		.closeImg{
			width: 30px;
		    height: 30px;
		    background: url(../Image/sprite.png) 2px 1px no-repeat;
		    cursor: pointer;
		    position: absolute;
		    right: 5px;
		    bottom: 5px;
		    display: block;
		    line-height: 22px;
		    text-indent: -10000px;
			}
	}
	.twitColor{
		background-color: #2aa9e0;
	}
	.fbColor{
		background-color: $darkBlue;
	}
	.linkColor{
		background-color: #02669a;
	}
	.pinColor{
		background-color: #ca2128;
	}
	.googleColor{
		background-color: #d3492c;
	}
	.tumblrColor{
		background-color: #44546b;
	}
	.messageColor{
		background-color: $blackcolor;
	}
	.colorP{
		color: #606569;
	}
	.imgInfoColor{
		background-color: $colorGray;
	}
	.padCol{
		padding: 10px 25px 0px 0px;
	}
	.myPadding{
		padding: 0px 25px 0px 0px;
	}	
	.myTopMargin{
		margin-top: 25px;
		@media screen and(max-width: 768px ) {
			margin-top: 0;
		}
	}
	.BottomMargin{
		margin-bottom: 20px;
	}
	 .padd{
		padding-left: 2px;
	}
	.border{
		margin-top: 25px;
		border-left: 3px solid #e54e53;
	}
	.myPadd{
		padding: 25px 20px 25px 0;
		@media screen and(max-width: 768px) {
			padding: 25px 0 25px 0;
		}
	}
	.borderRight{
		border-right: 1px solid $colorGray;
	}
	.paddRightLeft{
		padding: 0px 20px 0px 0px;
	}
	.right{
		float: right;
	}
	.width{
		width: 100%;
	}
	.leftClass{
		@media screen and(max-width: 768px) {
			font-size: 18px;
			 margin-right: 0px;
		}
		margin: 0px;
		float: left;
		font-size: 20px;
	    position: relative;
	    padding-left: 18px;
	    margin-right: 35px;	    
	}
	.imgInfoPadd{
		padding: 5px 10px 5px 10px;
	}
	.h5{
		@media screen and(max-width: 768px) {
			width: 	100%;
		}
		margin-top: 25px;
		
		font-size: 12px;
		color: gray;
		padding: 15px 5px;
		background-color: none;
	}
	.borderRow{
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
	}
	span{
		text-decoration: none;
		color: #19232d;
	}
	.paragraf{
		font-size: 14px;
	}
	.icon{
		color: #a6a6a6;
		float: right;
	}	
	.iconItem{
		@media screen and(max-width: 768px) {
			margin: 2px  0px ;
		}
		width: 54px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    font-size: 20px;
	    margin-right: 2px;
	}	
	.light{
		color: #fff; 
	}
	.authorBack{
		background-color: $colorGray;
	}
	.response{
		@media screen and(max-width: 768px) {
			float: none;
   			padding: 21px 0px;
		}
	}
	.radius{
		border-radius: 0;
	}
	.formButton{
		@media screen and(min-width: 769px){
			width: 22%;
		}
    background: #19232d;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding: 7px 21px;
    margin-bottom: 30px;
    
	}	
	.input{
		@media screen and(max-width: 768px){
			padding: 0;
		}
	}
	.wrapper{
		// @media screen and(max-width: 500px) {
		// 	padding: 0 20px;
		// }
		
		margin: 0 auto;
		background-color: $colorLight;
		box-sizing:border-box;
		@media screen and (max-width:1070px){
			width:auto;
			padding:0 25px;
		}
		.col-md-12{
			@media screen and(max-width: 768px){
			 	padding: 0px;
			}
		}
			.row{
				.col-md-8{
					@media screen and (max-width: 768px) {
						border-style: none;
					
						}
					}
					.hang{
						left: 0;
						content: "\201c";
					    display: inline-block;
					    position: absolute;
					    top: 17px;
					    color: #e6e6e6;
					    font-size: 60px;
					    line-height: 1;
					    font-style: normal;
					    font-family: Arial, Helvetica, sans-serif;
					}
					.hangParagraf{
						position: relative;
					    padding: 0;
					    padding-left: 42px;
					    padding-right: 14px;
					    padding-top: 17px;
					    padding-bottom: 0;
					    margin-bottom: 35px;
					    font-family: "Merriweather", Georgia, serif;
					    font-weight: 300;
					    font-size: 18px;
					    font-style: italic;
					    letter-spacing: 0.2px;
					    border: 0;
					    border-top: 2px solid #e54e53;
					    background: transparent;
				}	
					}
					h4.headingClass{
						width: 100%;
						color: #19232d;
					    font-size: 14px;
					    line-height: 1.3;
					    padding-left: 14px;
					    margin: 7px 0;
					    border-left: 3px solid #e54e53;
							}
						i{
							@media screen and(max-width: 768px) {
								top: 0;
							}
								}						
						}
					.imageSide{
							
							.imageItem{
								z-index: 8;
								padding: 4px 16px;
							    position: absolute;
							    top:
							     0;
							    left: 10px;
								span{
									color: #fff;
									font-size: 14px;
									text-decoration: none;
									}						}

								width: 100%;
								
								}
								img{
								transition: all .5s ease;
								width: 100%;
								&:hover{
									filter: opacity(80%);
									transition: all .5s ease;
								}
							}
							.imgInfo{
								height: 20px;

								time{
									float: left;
									color: $colorP;
								}
								
							}
						.quote{
							padding: 1.857em;
						    padding-bottom: 0;
						    border-left: 3px solid #d9d9d9;
						    border-bottom: 1px solid transparent;
						    background: #f2f2f2;
						}
						.commentpost{
							font-size: 13px;
						    line-height: 1.714;
						    border-bottom: 1px solid #d9d9d9;
						    position: relative;
						    padding-bottom: 42px;
						    margin-top: 14px;
						}
						.reply{
							position: absolute;
						    bottom: -1px;
						    right: 0;
						    color: #a6a6a6;
						    font-size: 12px;
						    border-width: 0 0 1px 0;
    						border-style: solid;
						}
						}
					h2.headClass{
						@media screen and(max-width: 768px) {
							
						}
						@extend .myHeading;
						}
					.page-numbers{
						padding: 3px 10px;
						background-color: $colorRed;
						text-decoration: none;
						color: $colorLight;

					}
					.next{
						background-color: black;
						text-decoration: none;
						transition: all ease 1s;
						&:hover {
               				 background-color: $colorRed;
               				 transition: all ease 1s;
            			}
					}
			
			
		

	

