#contemporaryHomeSection{
	.left{
		padding-right: 30px;
		border-right: 1px solid $navcolor;
		@media screen and(max-width: 991px){
			border: none;
			padding-right: 0;
		}
		.entertainment{
			margin: 0;
		}
		.entertainmentItem{
			padding: 30px 0;
			.col-lg-6{
				&:first-child{
					border-right: 1px solid $navcolor;
					@media screen and(max-width: 991px){
						border: none;
					}
				}
				.leftItem{
					margin-right: 10px;
					@media screen and(max-width: 991px){
						margin-right: 0;
					}
				}
			}
		}	
	}
}