#contactUsSection{
	.contactUsForm{
		.inputStyle{
			width: 100%;
			background-color: $colorSearch;
			border: 1px solid $navcolor;
			padding: 5px 10px;
			outline: none;
			&::placeholder{
				font-size: 13px;
				color: darkgray;
			}
			&:focus{
				border: 1px solid darkgray;
				&::placeholder{
					color: dimgray;
				}
			}
		}
		.contactBtn{
			background-color: $blackcolor;
			border: none;
			padding: 5px 22px;
			color: white;
		}
	}
}