body {
	margin: 0;
	font: 14px/1.5 "Open Sans", Arial, sans-serif;
	i{
		padding: 0 5px;
	}
}

.active {
	border-bottom: 2px solid $colorRed;
}

#header {
	.topHead {
		width: 100%;
		padding: 10px 0;
		background: $colorSearch;
		border-top: 4px solid $colorRed;
		.container {
			.row {
				.trending {
					color: $colorRed;
				}
				.contactLink {
					display: inline-block;
					padding: 0;

					li {
						display: inline-block;
						list-style-type: none;
						width: 20px;
						height: 20px;
						text-align: center;

						i {
							color: $colorSearch;
						}
					}
				}

				.search {
					display: inline-block;
					background: #E9E9E9;
					padding: 2px 7px;

					input {
						border: none;
						background: #E9E9E9;
						outline: none;
					}

					i {
						color: gray;
					}
				}
			}
		}
	}
		
}
	
#navHead {
	padding: 20px 0;
	.container {
		.smart {
			a{
				color: $blackcolor;
				text-decoration: none;

				p {
					font-size: 250%;
					padding: 30px 0;
					font-weight: 900;
					span {
						color: $colorRed;
					}
				}
			}
		}

		.row {
			.col-md-12 {
				>ul {
					list-style-type: none;
					padding: 0;
					background-color: $blackcolor;
					position: relative;
					border-bottom: 2px solid #2F4154;


					>li {
						float: left;
						padding: 12px 25px;
						margin-bottom:-2px;

						&:hover {
							background-color: #1E2935;
							transition: all 0.3s ease;
							border-bottom: 2px solid $colorRed;
						}

						>a {
							text-decoration: none;
							color: $navcolor;
						}
						>i {
							color: $navcolor;
						}

					}
					.menuDropFeatures{
						&:hover .dropDownMenuFeatures{
							display: block;
						}
					}
					.dropDownMenuFeatures {
						position: absolute;
						z-index: 10;	
						padding: 40px 0;
						background-color: $blackcolor;
						top: 47px;
						left: 0;
						width: 100%;
						display: none;

						ul {
							padding: 0 30px;
							a {
								text-decoration: none;
								color: $navcolor;
								h5 {
									padding: 10px 0;
									font-weight: bold;
									margin: 0;
									border-bottom: 1px solid #2F4154;
								}
							}
							li {
								padding: 10px 8px;
								list-style-type:none;
								border-bottom: 0.1px solid #1F2C38;
								font-size: 13px;

								i {
									color: $navcolor;
								}
							}
						}
					}
					.menuDropEnter{
						&:hover .dropDownMenuEnter{
							display: block;
						}
					}

					.dropDownMenuEnter {
						position: absolute;	
						z-index: 10;
						background-color: $blackcolor;
						top: 47px;
						left: 0;
						width: 100%;
						display: none;

						.col-md-3{
							
							ul {
								background-color:#1E2935;
								height: 370px;
								
								a{
									text-decoration:none;
								}
								
							}
						}
						.col-md-6 {
							ul {
								
								li {
									.comment {
										height: 30px;
										background-color: white;
										padding: 5px 10px;
										span {
											float: left;
											color: gray;
										}
										p {
											color: gray;
											float: right;
										}
									}
									a {
										h5 {
											padding: 2px 5px;
											border-width: 0 0 0 2px;
											border-color: $colorRed;
											border-left: 4px solid $colorRed;
										}
									}
									.col-md-3 {
										img {
											width: 100%;
										}
									}
									.col-md-9 {
										.dropDownRightComment {
											span {
												color: gray;
												float: left;
											}
											p {
												color: gray;
												float: right;
											}
											a{
												h5{
													font-size: 13px;
													border: 0;
													border-bottom: 1px solid #2F4154;
													padding: 0 0 14px 0;
													font-weight: bold;
												}
											}
										}
									}
								}
							}
						}
						ul {
							padding: 30px 28px;
							
							li {
								padding: 20px 0 0 0 ;
								list-style-type:none;
								font-size: 14px;
								a {
									text-decoration: none;
									color: $navcolor;
								}
							}

							h5 {
								padding: 10px 0;
								margin: 0;
								border-bottom: 1px solid #2F4154;
								color: $navcolor;
							}
						}
					}		
				}
			}
		}
	}
}

#footer{
	background-color: $blackcolor;
	color: $navcolor;
	.container{
		.row{
			.col-md-4{
				.aboutPostPhoto{
					padding: 50px 0;
					h5{
					border-bottom: 1px solid #2F4154;
					padding: 10px 0;
					}
					h3{
						padding: 15px 0;
						span{
							color: $colorRed;
						}
					}
					p{
						line-height: 25px;
					}
					label{
						display: block;
						font-weight: normal;
						padding: 10px 0;
					}
					input{
						background-color: #1F2C38;
						border: none;
						outline: none;
						padding: 5px 10px;
						color: $navcolor;
						width: 70%;
					}

					button{
						background-color: #2A3C4C;
						border: none;
						padding: 5px 15px;
						outline: none;
					}

					ul {
						list-style-type: none;
						padding: 0;
						li {
							padding: 30px 0 0 0 ;
							a {
								text-decoration: none;
								color: $navcolor;
								h5 {
									padding: 2px 5px;
									border-width: 0 0 0 2px;
									border-color: $colorRed;
									border-left: 4px solid $colorRed;
								}
							}
							.col-md-3 {
								img {
									width: 100%;
								}
							}
							.col-md-9 {
								.dropDownRightComment {
									span {
										color: lightgray;
										float: left;
										font-size: 12px;
									}
									p {
										color: lightgray;
										float: right;
										font-size: 12px;
									}
									a{
										h5{
											font-size: 13px;
											padding: 0 0 15px 0;
											border: 0;
											margin: 0;
											border-bottom: 1px solid #2F4154;
											font-weight: bold;
											color: $navcolor;
										}
									}
								}
							}
						}
					}
					.flickrGallery{
						padding-top: 20px;
						img{
							margin: 6px;
						}
					}
				}			
			}
		}
	}
}