
/**************** Header Section *****************/

#header {
	.topHead {
		width: 100%;
		padding-top: 10px;
		background: $colorSearch;
		border-width: 4px 0 0 0;
		border-style: solid;

		a{
			color: gray;
		}

		@media screen and (min-width: 799px) and (max-width: 996px){
			font-size: 13px;
			input{
				width: 80%;
			}
		}

		@media screen and (max-width: 799px){
			text-align: center;
			font-size: 14px;
			input{
				width: 80%;
			}
		}
		.container {
			.row {
				.contactLink {
					display: inline-block;
					padding: 5px 0;

					li {
						display: inline-block;
						width: 20px;
						height: 20px;
						text-align: center;

						i {
							color: $colorSearch;
						}
					}
				}

				.search {
					display: inline-block;
					background: #E9E9E9;
					padding: 2px 7px;

					input {
						border: none;
						background: #E9E9E9;
						outline: none;
					}

					i {
						padding: 5px;
						color: gray;
					}
				}
			}
		}
	}
		
}

/**************** NavBar Section *****************/
	
#navHead {
	padding: 20px 0;
	.container {
		.smart {
			a{
				color: $blackcolor;
				text-decoration: none;

				p {
					font-size: 250%;
					padding: 30px 0;
					font-weight: 900;
				}

				@media screen and (max-width: 799px){
					text-align: center;
				}
			}
		}

		.row {
			.col-md-12 {
				>ul {
					padding: 0;
					background-color: $blackcolor;
					position: relative;
					border-bottom: 2px solid #2F4154;


					>li {
						float: left;
						padding: 12px 25px;
						margin-bottom:-2px;

						&:hover {
							background-color: #1E2935;
							transition: all 0.3s ease;
							border-bottom: 2px solid $colorRed;
						}

						>a {
							text-decoration: none;
							color: $navcolor;
						}
						>i {
							color: $navcolor;
						}

					}
					
					.menuDropFeatures{
						&:hover .dropDownMenuFeatures{
							display: block;
						}
					}

					.dropDownMenuFeatures {
						position: absolute;
						z-index: 10;	
						padding: 30px 20px;
						background-color: $blackcolor;
						top: 47px;
						left: 0;
						width: 100%;
						display: none;

						ul {
							padding-left: 10px;
							a {
								text-decoration: none;
								color: $navcolor;
								h5 {
									padding: 10px 0;
									font-weight: bold;
									margin: 0;
									border-bottom: 1px solid #2F4154;
								}

							}
							li {
								padding: 10px 0px;
								border-bottom: 0.1px solid #1F2C38;
								font-size: 13px;

								i {
									color: $navcolor;
								}
								&:hover{
									background-color: $blackcolor*1.1;
								}
							}
						}
					}

					.menuDropEnter{
						&:hover .dropDownMenuEnter{
							display: block;
						}
					}

					.dropDownMenuEnter {
						position: absolute;	
						z-index: 10;
						background-color: $blackcolor;
						top: 47px;
						left: 0;
						width: 100%;
						display: none;

						.col-md-3{
							
							ul {
								background-color:#1E2935;
								height: 370px;
								a{
									text-decoration:none;
								}
								h5{
									padding-left:5px;
									&:hover{
										background-color: $blackcolor*1.3;
									}
								}
							}
						}
						.col-md-6 {
							ul {
								li {
									img{
										width: 100%;
									}
									a {
										font-family: "Roboto Slab", Georgia, serif;
										.imageTitle {
											padding: 2px 5px;
											border-width: 0 0 0 4px;
											border-style: solid;

										}
									}
								}
							}
						}
						ul {
							padding: 30px 28px;
							
							li {
								padding: 20px 0 0 0 ;
								font-size: 14px;
								a {
									color: $navcolor;
								}
							}
							h5 {
								padding: 12px 0;
								margin: 0;
								border-bottom: 1px solid #2F4154;
								color: $navcolor;
							}
						}
					}		
				}
				.smallNavBar{
					background-color: $blackcolor;
					ul{
						padding:0;
						li{
							float: left;
							padding: 12px;
						}
						i{
							color: #EFEFEF;
							font-size: 18px;
						}
							
						.left{
							input{
							display: none;
							background-color: $blackcolor;
							border: none;
							outline: none;
							color: #EFEFEF;
							width: 100%;

								&::placeholder{
									color: white;
								}
							}
							a{
								text-decoration: none;
								color: #EFEFEF;
								p{
									margin:0;
									span{
										font-size: 12px;
									}
								}
							}
						}
					}
				}
				.smallNavBarItem{
					background-color: $blackcolor;
					display: none;
					ul{
						li{
							padding: 12px 20px;
							border-top: 1px solid #1F2C38;
							a{
								color: #EFEFEF;
								text-decoration: none;
							}
							i{
								color: #EFEFEF;
							}
							&:hover{
								background-color: $blackcolor*1.1;
							}
						}
						.featuresItem{
							display: none;
							li{
								padding: 7px 28px;

							}
							.featuresItemItem{
								display: none;
								li{
									padding: 9px 50px;
									border: none;
								}
							}
						}
					}
					.activeSmall{
						background-color: #1E2935;
					}
				}
			}
		}
	}
}

/**************** Slider Section *****************/

#homeSliderSection {
	display: none;
	background-color: $colorSearch;
	padding: 30px 0;
	.container{
		.row{
			.col-md-8{
				.homeSlider{
					position: relative;
					.slideImage{
						width: 100%;
					}
				}
			}
		}
	}
}

/**************** News Section *****************/

#homeNewsSection {
	padding: 40px 0;
	img{
		font-size: 0;
		width: 100%;
	}
	
	.container{
		.row{
			.left{
				padding-right: 30px;
				border-right: 1px solid $navcolor;
				@media screen and (min-width:768px) and (max-width: 991px){
					padding:0;
					border: none;
				}
				@media screen and (max-width: 767px){
					padding:0;
					border: none;
				}
				.row{
					.leftBorder{
						border-right: 1px solid $navcolor;
						@media screen and (max-width: 767px){
							border: none;
						}
					}
					.col-md-6{
						a{
							color: $blackcolor;
						}
						.imageTitle{
							a{
								color: white;
							}
						}
					}
					.leftItem{
						margin-right:10px;
						@media screen and (max-width:767px){
							border: none;
							margin: 20px 0;
							padding-right:0;
						}
					}
					.leftItemRight{
						margin-left:10px;
						@media screen and (max-width:767px){
							padding:0;
						}
						@media screen and (min-width:768px) and (max-width: 991px){
							border: none;
						}
					}
					
					.col-md-6{
						.listDivEnter{
							padding-left: 10px;
							@media screen and (max-width:767px){
								padding:0;
							}
							ul{
								border:none;
								li{
									padding:0;
									margin-bottom: 20px;

								}
							}
						}
					}
					.homeItemListBottom{
						li{
							padding: 10px 0;
							font-size: 13px;
							border-top: 1px solid $navcolor;
							i{
								color: $colorRed;
							}
							a{
								color: $blackcolor;
								font-family: "Roboto Slab", Georgia, serif;
							}
						}
					}
				}
			}
			.right{
				.rightMenu{
					margin-bottom: 30px;
					h6{
						padding: 12px 12px;
						background-color: $blackcolor;
						color: $navcolor*1.1;
					}
					.headerList{
						background-color: $blackcolor;
						li{
							float: left;
							padding: 7px 12px;
							font-size: 13px;
							a{
								color: $navcolor*1.1;
								text-decoration: none;
							}
						}
					}
					.newsList{
						li{
							margin-top: 30px;
							.col-md-4{
								div{
									margin-right: -13px;
								}
							}
							.col-md-8{
								div{
									span{
										color: $navcolor/1.3;
										font-size: 12px;
									}
									p{
										padding: 7px 0;
										margin: 0;
										border-bottom: 1px solid $navcolor;	
										font-size: 13px;
										a{
											color: $blackcolor;
											font-family: "Roboto Slab", Georgia, serif;
										}
										@media screen and (min-width: 768px) and (max-width: 991px){
											padding: 28px 0;
										}
										@media screen and (max-width: 767px){
											padding: 25px 0;
										}
									}							
								}
							}
						}
					}
				}
			}
		}
	}
}

/**************** Foot Section *****************/

#footer{
	background-color: $blackcolor;
	color: $navcolor;
	.container{
		.row{
			.col-md-4{
				.aboutPostPhoto{
					padding: 50px 0;
					h5{
					border-bottom: 1px solid #2F4154;
					padding: 10px 0;
					}
					h3{
						padding: 15px 0;
					}
					p{
						line-height: 25px;
					}
					label{
						display: block;
						font-weight: normal;
						padding: 10px 0;
					}
					input{
						background-color: #1F2C38;
						border: none;
						outline: none;
						padding: 5px 10px;
						color: $navcolor;
						width: 70%;
						&::placeholder{
							color: $navcolor;
						}
					}

					button{
						background-color: #2A3C4C;
						border: none;
						padding: 5px 15px;
						outline: none;
					}

					ul {
						list-style-type: none;
						padding: 0;
						li {
							padding-top: 30px;
							a {
								font-family: "Roboto Slab", Georgia, serif;
								color: $navcolor;
							}
							.col-md-3 {
								img {
									width: 100%;
								}
							}
							.col-md-9 {
								.dropDownRightComment {
									a{
										h5{
											padding: 11px 0;
											margin: 0;
										}
									}
								}
							}
						}
					}
					.flickrGallery{
						padding-top: 25px;
						.row{
							.col-lg-12{
								div{
									width: 80px;
									float: left;
									margin: 5px;
									img{
										width: 100%;
									}
								}
							}
						}
					}
				}			
			}
		}
	}
}

/**************** CopyRight Section *****************/

#footCopyright{
	background-color: #121A21;
	padding: 12px 0;
	color: gray;
	p{
		margin: 0;
	}
	ul{
		margin: 0;
	}
	a{
		color: lightgray;
	}
}

