$colorSearch: #F2F2F2;
$blackcolor: #19232D;
$navcolor: #D7DADE;
$colorGreeeen: #32742C;
$colorOrangee: #D2691E;
$colorRed: #C0392B;
$colorGray: #F2F2F2;
$colorLight: #FFFFFF;
$colorBlue: #4682B4;
$colorP: #949697;
$colorBrown: #D2691E;
$colorPink: #D70060;
$colorFlower: #FF6347;
$colorLightRed: #E74C3C;
$colorGreenBlue: #E74C3C;

.myHeading{
	padding-left: 15px;
	border-left: 3px solid $colorRed;
}

@import "common";
@import "home";
@import "content";