.myHeading, #content h2.headClass {
  padding-left: 15px;
  border-left: 3px solid #C0392B;
}

body {
  margin: 0 auto;
  font: 14px/1.5 "Open Sans", Arial, sans-serif;
}
body i {
  padding: 0 5px;
}

.a {
  color: gray;
}

.registerlinkForm {
  display: none;
  position: fixed;
  margin: 0;
  top: 30%;
  left: 35%;
  z-index: 1050;
  width: 560px;
  outline: none;
}
@media screen and (max-width: 768px) {
  .registerlinkForm {
    width: 250px;
    margin-left: -90px;
  }
}
.registerlinkForm .margBottom {
  margin-bottom: 30px;
}
.registerlinkForm .activeClick {
  height: 350px;
  width: 350px;
}
.registerlinkForm a {
  color: gray;
}
.registerlinkForm .header {
  color: #19232D;
  margin: 0 -15px;
  padding: 9px 15px;
  background: #f2f2f2;
}
.registerlinkForm .radius {
  border-radius: 0;
}
.registerlinkForm .searchText {
  background: #f9f9f9;
  border: 1px solid #d9d9d9;
  height: 35px;
  outline: 0;
  padding-left: 7px;
  font-size: 13px;
  color: #a6a6a6;
  width: 100%;
}
.registerlinkForm .formButton {
  float: right;
  background-color: #e54e53;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  height: 35px;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 20px;
  border: 0;
}
.registerlinkForm .Top {
  padding: 30px 0px;
}

.registerForms {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .registerForms {
    opacity: 0.8;
  }
}
.registerForms .col-md-4 {
  background-color: white;
}

/**************** Common Classes *****************/
.sectionPadding {
  padding: 40px 0;
}

.active {
  border-width: 0 0 2px 0;
  border-style: solid;
}

.activeSmall {
  background-color: #1E2935;
}

.activeBackGray {
  background-color: #a5a8ab;
}

.imageHover {
  display: block;
  transition: .5s ease;
}
.imageHover:hover {
  opacity: 0.8;
}

.activeOranege {
  color: #D2691E;
}
.activeOranege:hover {
  color: #D2691E;
}

.activeGreen {
  color: #32742C;
}
.activeGreen:hover {
  color: #32742C;
}

.activeRedRose {
  color: #e54e53;
}
.activeRedRose:hover {
  color: #e54e53;
}

.activeBlue {
  color: #4682B4;
}
.activeBlue:hover {
  color: #4682B4;
}

.activeRed {
  color: #C0392B;
}
.activeRed:hover {
  color: #C0392B;
}

.activeLightRed {
  color: #E74C3C;
}
.activeLightRed:hover {
  color: #E74C3C;
}

.activeBlack {
  color: #19232D;
}

.activeRedFlower {
  color: #FF6347;
}
.activeRedFlower:hover {
  color: #FF6347;
}

.activePink {
  color: #D70060;
}
.activePink:hover {
  color: #D70060;
}

.activeBrown {
  color: #D2691E;
}
.activeBrown:hover {
  color: #D2691E;
}

.activeGreenBlueBorder {
  border-color: #E74C3C;
}

.activeOranegeBorder {
  border-color: #D2691E;
}

.activeGreenBorder {
  border-color: #32742C;
}

.activeBlueBorder {
  border-color: #4682B4;
}

.activeRedBorder {
  border-color: #C0392B;
}

.activeLightRedBorder {
  border-color: #E74C3C;
}

.activeRedFlowerBorder {
  border-color: #FF6347;
}

.activePinkBorder {
  border-color: #D70060;
}

.activeBrownBorder {
  border-color: #D2691E;
}

.activeBackPink {
  background-color: #D70060;
}

.activeBackGreenBlue {
  background-color: #E74C3C;
}

.activeBackBrown {
  background-color: #D2691E;
}

.activeBackFlower {
  background-color: #FF6347;
}

.activeBackLightRed {
  background-color: #E74C3C;
}

.activeBackRed {
  background-color: #C0392B;
}

.activeBackOrange {
  background-color: #D2691E;
}

.activeBackGreen {
  background-color: #32742C;
}

.activeBackBlue {
  background-color: #4682B4;
}

.activeBackGray {
  background-color: #f9f9f9;
}

.activeBackWhite {
  background-color: white;
}

.displayNone {
  display: none;
}

.topBorderRow {
  border-top: 2px solid #C0392B;
}

.pageNewsHeader {
  border-width: 0 0 0 3px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}
.pageNewsHeader span {
  font-weight: 600;
}

.imageCategory {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
  font-size: 13px;
}
.imageCategory span {
  color: white;
}
.imageCategory a {
  color: white;
}

.images p {
  padding: 10px 0;
  color: gray;
  margin: 0;
  font-size: 13px;
}
.images h5 {
  border-width: 0 0 0 3px;
  border-style: solid;
  padding: 2px 10px;
}
.images h5 a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
.images .imagesDiv {
  position: relative;
  overflow: hidden;
}
.images .imagesDiv img {
  width: 100%;
}
.images .imagesDiv .comment {
  padding: 5px 10px;
  background-color: #F2F2F2;
  color: gray;
}
.images .imagesDiv .comment p {
  margin: 0;
  padding: 0;
}

.listDiv img {
  width: 100%;
}
.listDiv ul {
  border-top: 1px solid #D7DADE;
  margin: 0;
}
.listDiv ul li {
  padding-top: 20px;
}
.listDiv ul li .col-md-9 div {
  margin-left: -15px;
}
.listDiv ul li .col-md-9 div span {
  color: gray;
  font-size: 13px;
}
.listDiv ul li .col-md-9 div p {
  padding: 7px 0;
  margin: 0;
  border-bottom: 1px solid #D7DADE;
  font-size: 13px;
  font-family: "Roboto Slab", Georgia, serif;
}
@media screen and (max-width: 767px) {
  .listDiv ul li .col-md-9 div p {
    padding: 20px 0;
  }
}
.listDiv ul li .col-md-9 div p a {
  color: #19232D;
}

.listDivEnter {
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  .listDivEnter {
    padding: 0;
  }
}
.listDivEnter ul {
  border: none;
}
.listDivEnter ul li {
  padding: 0;
  margin-bottom: 20px;
}

.entertainment {
  border-bottom: 1px solid #D7DADE;
  border-top: 1px solid #D7DADE;
  background-color: #F2F2F2;
  margin: 30px 0;
  padding: 5px 15px;
}
.entertainment ul {
  margin: 0;
}
.entertainment ul li {
  position: relative;
}
.entertainment ul li a {
  color: gray;
}
.entertainment ul li .activeList::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 38%;
  top: 23px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent white transparent;
}
.entertainment h5 {
  margin: 0;
  line-height: 22px;
  font-weight: 600;
}

.dropDownRightComment span {
  color: lightgray;
  float: left;
}
.dropDownRightComment p {
  color: lightgray;
  float: right;
  margin: 0;
}
.dropDownRightComment a h5 {
  font-size: 13px;
  border: 0;
  border-bottom: 1px solid #D7DADE;
  color: #D7DADE;
}

.comment {
  height: 30px;
  background-color: white;
  padding: 5px 10px;
}
.comment span {
  float: left;
  color: gray;
}
.comment p {
  color: gray;
  float: right;
}

.sliderSection:hover .slideBtnLeft {
  opacity: 0.5;
}
.sliderSection:hover .slideBtnRight {
  opacity: 0.5;
}
.sliderSection .homeSlider .slideImage {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
}
.sliderSection .homeSlider .slideImage .imageCategory {
  margin-left: 10px;
}
.sliderSection .homeSlider .slideImage img {
  width: 100%;
  transition: .5s ease;
}
.sliderSection .homeSlider .slideImage img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.sliderSection .homeSlider .slideImage p {
  position: absolute;
  left: 20px;
  bottom: 50px;
  font-size: 12px;
  color: #D7DADE;
}
.sliderSection .homeSlider .slideImage h4 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "Roboto Slab", Georgia, serif;
}
.sliderSection .homeSlider .slideImage h4 a {
  color: white;
}
.sliderSection .homeSlider .slideImage:first-child {
  display: block;
}
.sliderSection .slideBtnLeft {
  padding: 3px 8px;
  background-color: white;
  position: absolute;
  top: 45%;
  left: 35px;
  opacity: 0;
  transition: .5s ease;
}
.sliderSection .slideBtnLeft:hover {
  opacity: 1;
}
.sliderSection .slideBtnRight {
  padding: 3px 8px;
  background-color: white;
  position: absolute;
  top: 45%;
  right: 35px;
  opacity: 0;
  transition: .5s ease;
}
.sliderSection .slideBtnRight:hover {
  opacity: 1;
}
.sliderSection ul {
  margin: 0;
  position: absolute;
  bottom: -5px;
}
.sliderSection ul li {
  display: inline-block;
  height: 4px;
  transition: .5s ease;
}
.sliderSection ul:hover li {
  height: 7px;
}

.right img {
  font-size: 0;
  width: 100%;
}
.right .rightMenu {
  margin-bottom: 30px;
}
.right .rightMenu h6 {
  padding: 12px 12px;
  background-color: #19232D;
  color: #edf0f4;
}
.right .rightMenu .headerList {
  background-color: #19232D;
}
.right .rightMenu .headerList li {
  float: left;
  padding: 7px 12px;
  font-size: 13px;
}
.right .rightMenu .headerList li a {
  color: #edf0f4;
  text-decoration: none;
}
.right .rightMenu .newsList li {
  margin-top: 30px;
}
.right .rightMenu .newsList li .col-md-4 div {
  position: relative;
}
.right .rightMenu .newsList li .col-md-4 div a:last-child {
  margin-right: -13px;
}
.right .rightMenu .newsList li .col-md-4 div span {
  position: absolute;
  right: 0;
  bottom: 3px;
  z-index: 3;
}
.right .rightMenu .newsList li .col-md-4 div span a {
  padding: 5px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}
.right .rightMenu .newsList li .col-md-8 div span {
  color: #a5a8ab;
  font-size: 12px;
}
.right .rightMenu .newsList li .col-md-8 div p {
  padding: 7px 0;
  margin: 0;
  border-bottom: 1px solid #D7DADE;
  font-size: 13px;
}
.right .rightMenu .newsList li .col-md-8 div p a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .right .rightMenu .newsList li .col-md-8 div p {
    padding: 28px 0;
  }
}
@media screen and (max-width: 767px) {
  .right .rightMenu .newsList li .col-md-8 div p {
    padding: 25px 0;
  }
}
.right .rightMenu .sliderSection {
  margin-top: 30px;
}
.right .rightMenu .sliderSection .slideBtnLeft {
  padding: 0px 4px;
  top: 50%;
}
.right .rightMenu .sliderSection .slideBtnRight {
  padding: 0px 4px;
  top: 50%;
}

.slowSlider {
  overflow: hidden;
}
.slowSlider .sliderSection {
  margin-bottom: 30px;
}
.slowSlider .sliderSection .homeSlider {
  width: 205%;
  transition: .5s ease;
}
.slowSlider .sliderSection .homeSlider .slowSlideItem span a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
.slowSlider .slideBtnLeft {
  padding: 0px 4px;
  top: 40%;
}
.slowSlider .slideBtnRight {
  padding: 0px 4px;
  top: 40%;
}

.fashionItem {
  padding: 30px 0;
  border-bottom: 1px solid #D7DADE;
}
.fashionItem:last-child {
  border: none;
}
.fashionItem .comment {
  padding: 0;
  height: 20px;
  font-size: 12px;
}
.fashionItem .comment p {
  margin: 0;
}
.fashionItem h5 a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
.fashionItem p {
  color: gray;
}

hr {
  margin: 20px  0;
  border-color: #D7DADE;
}

.readMoreBtn {
  width: 100px;
  padding: 5px 10px;
}
.readMoreBtn a {
  color: white;
}

.fullComment h3 {
  border-width: 0 0 0 3px;
  border-style: solid;
  float: left;
  padding: 0 10px;
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
.fullComment h3 a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
.fullComment p {
  font-size: 16px;
  padding: 22px 0;
}

.newsAuthor {
  padding: 6px 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #D7DADE;
  margin: 10px 0;
}
.newsAuthor p {
  float: left;
  color: #a5a8ab;
  padding: 0;
}
.newsAuthor span {
  float: right;
}
.newsAuthor a {
  color: #19232D;
}

.galleryItem {
  position: relative;
  margin-bottom: 30px;
}
.galleryItem img {
  width: 100%;
}
.galleryItem .galleryItemTitle {
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-shadow: 1px 1px 1px gray;
  background: linear-gradient(transparent, black);
}
.galleryItem .galleryItemTitle p {
  font-size: 12px;
  margin: 0;
  color: #F2F2F2;
}
.galleryItem .galleryItemTitle h5 {
  font-family: "Roboto Slab", Georgia, serif;
}
.galleryItem .galleryItemTitle h5 a {
  color: white;
}

.left {
  padding-right: 30px;
  border-right: 1px solid #D7DADE;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .left {
    padding: 0;
    border: none;
  }
}
@media screen and (max-width: 767px) {
  .left {
    padding: 0;
    border: none;
  }
}
.left .sliderSection {
  position: relative;
}
.left .row .leftBorder {
  border-right: 1px solid #D7DADE;
}
@media screen and (max-width: 767px) {
  .left .row .leftBorder {
    border: none;
  }
}
.left .row .col-md-6 a {
  color: #19232D;
}
.left .row .col-md-6 .imageCategory a {
  color: white;
}
.left .row .leftItem {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .left .row .leftItem {
    border: none;
    margin: 20px 0;
    padding-right: 0;
  }
}
.left .row .leftItemRight {
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .left .row .leftItemRight {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .left .row .leftItemRight {
    border: none;
  }
}
.left .row .homeItemListBottom li {
  padding: 10px 0;
  font-size: 13px;
  border-top: 1px solid #D7DADE;
}
.left .row .homeItemListBottom li a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}

.testPageParagraph div {
  margin: 15px 0;
  padding: 10px 25px;
  background-color: #F2F2F2;
  border-left: 3px solid #D7DADE;
}
.testPageParagraph p {
  line-height: 25px;
  color: gray;
}
.testPageParagraph p span {
  font-weight: bold;
}
.testPageParagraph h4 {
  font-weight: bold;
}
.testPageParagraph ul {
  list-style: square;
}
.testPageParagraph ul li {
  color: gray;
  font-size: 13px;
  line-height: 25px;
}

.errorBox {
  margin: 100px 0;
}
.errorBox h1 {
  font-size: 4.6em;
  margin: 12px 0;
}
.errorBox h3 {
  font-weight: bold;
}
.errorBox p {
  margin: 10px 0;
  line-height: 25px;
}
.errorBox a {
  font-size: 13px;
}
.errorBox ul li i {
  padding: 0 10px 0 0;
}

.percentBox {
  margin-left: 10px;
}
.percentBox a {
  padding: 5px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

/**************** Header Section *****************/
#header .col-lg-5 span {
  display: none;
}
#header .col-lg-5 span:first-child {
  display: block;
}
#header .topHead {
  width: 100%;
  padding-top: 10px;
  background: #F2F2F2;
  border-width: 4px 0 0 0;
  border-style: solid;
}
#header .topHead a {
  color: gray;
}
@media screen and (min-width: 799px) and (max-width: 996px) {
  #header .topHead {
    font-size: 13px;
  }
  #header .topHead input {
    width: 80%;
  }
}
@media screen and (max-width: 799px) {
  #header .topHead {
    text-align: center;
    font-size: 14px;
  }
  #header .topHead input {
    width: 80%;
  }
}
#header .topHead .container .row .contactLink {
  display: inline-block;
  padding: 5px 0;
}
#header .topHead .container .row .contactLink li {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  transition: .5s ease;
}
#header .topHead .container .row .contactLink li:hover {
  border-radius: 50%;
}
#header .topHead .container .row .contactLink li i {
  color: #F2F2F2;
}
#header .topHead .container .row .search {
  display: inline-block;
  background: #E9E9E9;
  padding: 2px 7px;
}
#header .topHead .container .row .search input {
  border: none;
  background: #E9E9E9;
  outline: none;
}
#header .topHead .container .row .search i {
  padding: 5px;
  color: gray;
}

/**************** NavBar Section *****************/
#navHead {
  padding: 20px 0;
}
#navHead .container .smart a {
  color: #19232D;
  text-decoration: none;
}
#navHead .container .smart a p {
  font-size: 250%;
  padding: 30px 0;
  font-weight: 900;
}
@media screen and (max-width: 799px) {
  #navHead .container .smart a {
    text-align: center;
  }
}
#navHead .container .row .col-md-12 > ul {
  padding: 0;
  background-color: #19232D;
  position: relative;
  border-bottom: 2px solid #2F4154;
}
#navHead .container .row .col-md-12 > ul > li {
  float: left;
  padding: 12px 25px;
  margin-bottom: -2px;
}
#navHead .container .row .col-md-12 > ul > li:hover {
  background-color: #1E2935;
  transition: all 0.3s ease;
  border-bottom: 2px solid #C0392B;
}
#navHead .container .row .col-md-12 > ul > li > a {
  text-decoration: none;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul > li > i {
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul > li:nth-child(8) {
  padding: 12px 16px;
  background-color: #263544;
}
#navHead .container .row .col-md-12 > ul .menuDropFeatures:hover .dropDownMenuFeatures {
  display: block;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures {
  position: absolute;
  z-index: 10;
  padding: 30px 20px;
  background-color: #19232D;
  top: 47px;
  left: 0;
  width: 100%;
  display: none;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul {
  padding-left: 10px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul a {
  text-decoration: none;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul a h5 {
  padding: 10px 0;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid #2F4154;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul li {
  padding: 10px 0px;
  border-bottom: 0.1px solid #1F2C38;
  font-size: 13px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul li i {
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul li:hover {
  background-color: #1c2732;
}
#navHead .container .row .col-md-12 > ul .menuDropEnter:hover .dropDownMenuEnter {
  display: block;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter {
  position: absolute;
  z-index: 10;
  background-color: #19232D;
  top: 47px;
  left: 0;
  width: 100%;
  display: none;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-3 ul {
  background-color: #1E2935;
  height: 370px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-3 ul a {
  text-decoration: none;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-3 ul h5 {
  padding-left: 5px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-3 ul h5:hover {
  background-color: #212e3b;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-6 ul li img {
  width: 100%;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-6 ul li a {
  font-family: "Roboto Slab", Georgia, serif;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-6 ul li a .imageTitle {
  padding: 2px 5px;
  border-width: 0 0 0 4px;
  border-style: solid;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul {
  padding: 30px 28px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul li {
  padding: 20px 0 0 0;
  font-size: 14px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul li a {
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul h5 {
  padding: 12px 0;
  margin: 0;
  border-bottom: 1px solid #2F4154;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 .smallNavBar {
  background-color: #19232D;
}
#navHead .container .row .col-md-12 .smallNavBar ul {
  padding: 0;
}
#navHead .container .row .col-md-12 .smallNavBar ul li {
  float: left;
  padding: 12px;
}
#navHead .container .row .col-md-12 .smallNavBar ul i {
  color: #EFEFEF;
  font-size: 18px;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left input {
  display: none;
  background-color: #19232D;
  border: none;
  outline: none;
  color: #EFEFEF;
  width: 100%;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left input::placeholder {
  color: white;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left a {
  text-decoration: none;
  color: #EFEFEF;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left a p {
  margin: 0;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left a p span {
  font-size: 12px;
}
#navHead .container .row .col-md-12 .smallNavBarItem {
  background-color: #19232D;
  display: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li {
  padding: 12px 20px;
  border-top: 1px solid #1F2C38;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li a {
  color: #EFEFEF;
  text-decoration: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li i {
  color: #EFEFEF;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li:hover {
  background-color: #1c2732;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem {
  display: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem li {
  padding: 7px 28px;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem .featuresItemItem {
  display: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem .featuresItemItem li {
  padding: 9px 50px;
  border: none;
}

/**************** Slider Section *****************/
#homeSliderSection {
  background-color: #F2F2F2;
  padding: 30px 0;
  position: relative;
}
#homeSliderSection .col-lg-4 .row .slideRightBar {
  margin-top: 33px;
}
#homeSliderSection .col-lg-4 .row img {
  transition: .5s ease;
}
#homeSliderSection .col-lg-4 .row img:hover {
  transform: scale(1.1);
}
#homeSliderSection .col-lg-4 .row p {
  position: absolute;
  left: 10px;
  bottom: 0;
  font-size: 13px;
  text-shadow: 0.5px 0.5px gray;
}
#homeSliderSection .col-lg-4 .row p a {
  color: white;
  font-family: "Roboto Slab", Georgia, serif;
}

/**************** News Section *****************/
#homeNewsSection img {
  font-size: 0;
  width: 100%;
}

/**************** Foot Section *****************/
#footer {
  background-color: #19232D;
  color: #D7DADE;
}
#footer .container .row .col-md-4 .aboutPostPhoto {
  padding: 50px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto h5 {
  border-bottom: 1px solid #2F4154;
  padding: 10px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto h3 {
  padding: 15px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto p {
  line-height: 25px;
}
#footer .container .row .col-md-4 .aboutPostPhoto label {
  display: block;
  font-weight: normal;
  padding: 10px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto input {
  background-color: #1F2C38;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: #D7DADE;
  width: 70%;
}
#footer .container .row .col-md-4 .aboutPostPhoto input::placeholder {
  color: #D7DADE;
}
#footer .container .row .col-md-4 .aboutPostPhoto button {
  background-color: #2A3C4C;
  border: none;
  padding: 5px 15px;
  outline: none;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul {
  list-style-type: none;
  padding: 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li {
  padding-top: 30px;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li a {
  font-family: "Roboto Slab", Georgia, serif;
  color: #D7DADE;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li .col-md-3 img {
  width: 100%;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li .col-md-9 .dropDownRightComment a h5 {
  padding: 11px 0;
  margin: 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto .flickrGallery {
  padding-top: 25px;
}
#footer .container .row .col-md-4 .aboutPostPhoto .flickrGallery .row .col-lg-12 div {
  width: 80px;
  float: left;
  margin: 5px;
}
#footer .container .row .col-md-4 .aboutPostPhoto .flickrGallery .row .col-lg-12 div img {
  width: 100%;
}

/**************** CopyRight Section *****************/
#footCopyright {
  background-color: #121A21;
  padding: 12px 0;
  color: gray;
}
#footCopyright p {
  margin: 0;
}
#footCopyright ul {
  margin: 0;
}
#footCopyright a {
  color: lightgray;
}

#content {
  width: 100%;
}
#content .pading {
  padding-right: 2px;
}
#content .infoTab {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.8;
}
#content .infoImgTab {
  position: fixed;
  top: 20px;
  left: 335px;
  display: none;
  z-index: 1200;
}
#content .imageTab {
  background-color: white;
  width: 650px;
  height: 470px;
  border: 8px solid white;
  background-repeat: no-repeat;
  border-radius: 5px;
}
#content .imageTab img {
  width: 100%;
}
#content .imageTab .pstyle {
  color: gray;
  font-size: 12px;
  margin: 5px 50px 5px 5px;
}
#content .imageTab .closeImg {
  width: 30px;
  height: 30px;
  background: url(../Image/sprite.png) 2px 1px no-repeat;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
}
#content .twitColor {
  background-color: #2aa9e0;
}
#content .fbColor {
  background-color: #204385;
}
#content .linkColor {
  background-color: #02669a;
}
#content .pinColor {
  background-color: #ca2128;
}
#content .googleColor {
  background-color: #d3492c;
}
#content .tumblrColor {
  background-color: #44546b;
}
#content .messageColor {
  background-color: #19232D;
}
#content .colorP {
  color: #606569;
}
#content .imgInfoColor {
  background-color: #F2F2F2;
}
#content .padCol {
  padding: 10px 25px 0px 0px;
}
#content .myPadding {
  padding: 0px 25px 0px 0px;
}
#content .myTopMargin {
  margin-top: 25px;
}
#content .BottomMargin {
  margin-bottom: 20px;
}
#content .padd {
  padding-left: 2px;
}
#content .border {
  margin-top: 25px;
  border-left: 3px solid #e54e53;
}
#content .myPadd {
  padding: 25px 20px 25px 0;
}
@media screen and (max-width: 768px) {
  #content .myPadd {
    padding: 25px 0 25px 0;
  }
}
#content .borderRight {
  border-right: 1px solid #F2F2F2;
}
#content .paddRightLeft {
  padding: 0px 20px 0px 0px;
}
#content .right {
  float: right;
}
#content .width {
  width: 100%;
}
#content .leftClass {
  margin: 0px;
  float: left;
  font-size: 20px;
  position: relative;
  padding-left: 18px;
  margin-right: 35px;
}
@media screen and (max-width: 768px) {
  #content .leftClass {
    font-size: 18px;
    margin-right: 0px;
  }
}
#content .imgInfoPadd {
  padding: 5px 10px 5px 10px;
}
#content .h5 {
  margin-top: 25px;
  font-size: 12px;
  color: gray;
  padding: 15px 5px;
  background-color: none;
}
@media screen and (max-width: 768px) {
  #content .h5 {
    width: 100%;
  }
}
#content .borderRow {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#content span {
  text-decoration: none;
  color: #19232d;
}
#content .paragraf {
  font-size: 14px;
}
#content .icon {
  color: #a6a6a6;
  float: right;
}
#content .iconItem {
  width: 54px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  margin-right: 2px;
}
@media screen and (max-width: 768px) {
  #content .iconItem {
    margin: 2px 0px;
  }
}
#content .light {
  color: #fff;
}
#content .authorBack {
  background-color: #F2F2F2;
}
@media screen and (max-width: 768px) {
  #content .response {
    float: none;
    padding: 21px 0px;
  }
}
#content .radius {
  border-radius: 0;
}
#content .formButton {
  background: #19232d;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding: 7px 21px;
  margin-bottom: 30px;
}
@media screen and (min-width: 769px) {
  #content .formButton {
    width: 22%;
  }
}
@media screen and (max-width: 768px) {
  #content .input {
    padding: 0;
  }
}
#content .wrapper {
  margin: 0 auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
@media screen and (max-width: 1070px) {
  #content .wrapper {
    width: auto;
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  #content .wrapper .col-md-12 {
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  #content .wrapper .row .col-md-8 {
    border-style: none;
  }
}
#content .wrapper .row .hang {
  left: 0;
  content: "\201c";
  display: inline-block;
  position: absolute;
  top: 17px;
  color: #e6e6e6;
  font-size: 60px;
  line-height: 1;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
#content .wrapper .row .hangParagraf {
  position: relative;
  padding: 0;
  padding-left: 42px;
  padding-right: 14px;
  padding-top: 17px;
  padding-bottom: 0;
  margin-bottom: 35px;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.2px;
  border: 0;
  border-top: 2px solid #e54e53;
  background: transparent;
}
#content .wrapper h4.headingClass {
  width: 100%;
  color: #19232d;
  font-size: 14px;
  line-height: 1.3;
  padding-left: 14px;
  margin: 7px 0;
  border-left: 3px solid #e54e53;
}
@media screen and (max-width: 768px) {
  #content .wrapper i {
    top: 0;
  }
}
#content .imageSide {
  width: 100%;
}
#content .imageSide .imageItem {
  z-index: 10;
  padding: 4px 16px;
  position: absolute;
  top: 0;
  left: 10px;
}
#content .imageSide .imageItem span {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
#content img {
  transition: all .5s ease;
  width: 100%;
}
#content img:hover {
  filter: opacity(80%);
  transition: all .5s ease;
}
#content .imgInfo {
  height: 20px;
}
#content .imgInfo time {
  float: left;
  color: #949697;
}
#content .quote {
  padding: 1.857em;
  padding-bottom: 0;
  border-left: 3px solid #d9d9d9;
  border-bottom: 1px solid transparent;
  background: #f2f2f2;
}
#content .commentpost {
  font-size: 13px;
  line-height: 1.714;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  padding-bottom: 42px;
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  #content .col-md-6 {
    padding: 0px;
  }
}
#content .page-numbers {
  padding: 3px 10px;
  background-color: #C0392B;
  text-decoration: none;
  color: #FFFFFF;
}
#content .next {
  background-color: black;
  text-decoration: none;
  transition: all ease 1s;
}
#content .next:hover {
  background-color: #C0392B;
  transition: all ease 1s;
}

#entertainmentSection .left .images {
  padding: 25px 0;
}

#formContent .margBottom {
  margin-bottom: 15px;
}
#formContent .padLeft {
  padding-left: 25px;
}
#formContent .padding {
  padding: 0;
}
#formContent .borderTop {
  border-top: 1px solid lightgray;
  padding-top: 15px;
}
#formContent .borderBottom {
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
}
#formContent .border {
  margin-top: 25px;
  border-left: 3px solid #e54e53;
}
#formContent .borderRow {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#formContent .h5 {
  margin-top: 25px;
  font-size: 12px;
  color: gray;
  background-color: none;
}
#formContent .left {
  margin-left: 18px;
  font-size: 18px;
  padding-left: 18px;
}
#formContent .fleft {
  float: left;
}
#formContent .fright {
  float: right;
}
#formContent .radius {
  border-radius: 0;
}
#formContent .searchText {
  background: #f9f9f9;
  border: 1px solid #d9d9d9;
  height: 35px;
  outline: 0;
  padding-left: 7px;
  font-size: 13px;
  color: #a6a6a6;
  width: 100%;
}
#formContent .formButton {
  float: right;
  background-color: #e54e53;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  height: 35px;
  padding: 0 20px;
  margin-top: 0;
  border: 0;
}
#formContent .fontSize {
  font-size: 12px;
  color: #606569;
}
#formContent .statistic {
  overflow: hidden;
  background: #f9f9f9;
  padding: 15px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
}
#formContent .listItem {
  text-align: center;
  border: 1px solid lightgray;
  padding: 3px 6px;
  background: #f2f2f2;
  margin-bottom: 8px;
}
#formContent .paragraf {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  #formContent .paragraf {
    padding: 0px 15px;
  }
}
#formContent .aboutForm {
  width: max-width;
  height: max-height;
}
@media screen and (max-width: 768px) {
  #formContent .aboutForm .formImg {
    visibility: none;
  }
}
#formContent .aboutForm .formItem {
  width: max-width;
  height: max-height;
  margin-bottom: 30px;
}

#fullWidthHome .left {
  padding: 0;
  border: none;
}
#fullWidthHome img {
  width: 100%;
}
#fullWidthHome .col-md-10 div {
  margin-left: -15px;
}
#fullWidthHome .col-md-10 div span {
  color: gray;
  font-size: 13px;
}
#fullWidthHome .col-md-10 div p {
  padding: 8px 0;
  margin: 0;
  border-bottom: 1px solid #D7DADE;
  font-size: 13px;
  font-family: "Roboto Slab", Georgia, serif;
}
@media screen and (max-width: 767px) {
  #fullWidthHome .col-md-10 div p {
    padding: 20px 0;
  }
}
#fullWidthHome .col-md-10 div p a {
  color: #19232D;
}
#fullWidthHome .col-lg-9 p {
  padding: 8px 0;
}
#fullWidthHome .col-lg-9 p a {
  color: #19232D;
}
#fullWidthHome .slowSlider .homeSlider {
  width: 150%;
}
#fullWidthHome .slowSlider .homeSlider .slowSlideItem {
  margin-right: 20px;
}

#contemporaryHomeSection .left {
  padding-right: 30px;
  border-right: 1px solid #D7DADE;
}
@media screen and (max-width: 991px) {
  #contemporaryHomeSection .left {
    border: none;
    padding-right: 0;
  }
}
#contemporaryHomeSection .left .entertainment {
  margin: 0;
}
#contemporaryHomeSection .left .entertainmentItem {
  padding: 30px 0;
}
#contemporaryHomeSection .left .entertainmentItem .col-lg-6:first-child {
  border-right: 1px solid #D7DADE;
}
@media screen and (max-width: 991px) {
  #contemporaryHomeSection .left .entertainmentItem .col-lg-6:first-child {
    border: none;
  }
}
#contemporaryHomeSection .left .entertainmentItem .col-lg-6 .leftItem {
  margin-right: 10px;
}
@media screen and (max-width: 991px) {
  #contemporaryHomeSection .left .entertainmentItem .col-lg-6 .leftItem {
    margin-right: 0;
  }
}
