.myHeading, #content .wrapper .container .row .col-md-8 h2.headClass, #content .wrapper .container .row .col-md-8 .col-md-6 h4.headingClass {
  padding-left: 15px;
  border-left: 3px solid #C0392B;
}

body {
  margin: 0;
  font: 14px/1.5 "Open Sans", Arial, sans-serif;
}
body i {
  padding: 0 5px;
}

/**************** Common Classes *****************/
.active {
  border-bottom: 2px solid #C0392B;
}

.images p {
  padding: 10px 0;
  color: gray;
  margin: 0;
  font-size: 13px;
}
.images h5 {
  border-left: 3px solid #C0392B;
  padding: 2px 10px;
}
.images h5 a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
.images .imagesDiv {
  position: relative;
}
.images .imagesDiv .imageTitle {
  padding: 5px 10px;
  background-color: #C0392B;
  position: absolute;
  top: 0;
  left: 10px;
}
.images .imagesDiv .imageTitle span {
  color: white;
}
.images .imagesDiv .comment {
  padding: 5px 10px;
  background-color: #F2F2F2;
  color: gray;
}
.images .imagesDiv .comment p {
  margin: 0;
  padding: 0;
}

.listDiv ul {
  border-top: 1px solid #D7DADE;
  margin: 0;
}
.listDiv ul li {
  padding-top: 20px;
}
.listDiv ul li .col-md-9 div {
  margin-left: -15px;
}
.listDiv ul li .col-md-9 div span {
  color: gray;
  font-size: 13px;
}
.listDiv ul li .col-md-9 div p {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #D7DADE;
  font-size: 13px;
}

.entertainment {
  border-bottom: 1px solid #D7DADE;
  border-top: 1px solid #D7DADE;
  background-color: #F2F2F2;
  margin: 30px 0;
  padding: 5px 15px;
}
.entertainment ul {
  margin: 0;
}
.entertainment ul li {
  color: gray;
}
.entertainment h5 {
  margin: 0;
  line-height: 22px;
  font-weight: 600;
}

.dropDownRightComment span {
  color: lightgray;
  float: left;
}
.dropDownRightComment p {
  color: lightgray;
  float: right;
  margin: 0;
}
.dropDownRightComment a h5 {
  font-size: 13px;
  border: 0;
  border-bottom: 1px solid #D7DADE;
  font-weight: bold;
  color: #D7DADE;
}

.comment {
  height: 30px;
  background-color: white;
  padding: 5px 10px;
}
.comment span {
  float: left;
  color: gray;
}
.comment p {
  color: gray;
  float: right;
}

/**************** Header Section *****************/
#header .topHead {
  width: 100%;
  padding-top: 10px;
  background: #F2F2F2;
  border-top: 4px solid #C0392B;
}
@media screen and (min-width: 799px) and (max-width: 996px) {
  #header .topHead {
    font-size: 13px;
  }
  #header .topHead input {
    width: 80%;
  }
}
@media screen and (max-width: 799px) {
  #header .topHead {
    text-align: center;
    font-size: 14px;
  }
  #header .topHead input {
    width: 80%;
  }
}
#header .topHead .container .row .trending {
  color: #C0392B;
}
#header .topHead .container .row .contactLink {
  display: inline-block;
  padding: 5px 0;
}
#header .topHead .container .row .contactLink li {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}
#header .topHead .container .row .contactLink li i {
  color: #F2F2F2;
}
#header .topHead .container .row .search {
  display: inline-block;
  background: #E9E9E9;
  padding: 2px 7px;
}
#header .topHead .container .row .search input {
  border: none;
  background: #E9E9E9;
  outline: none;
}
#header .topHead .container .row .search i {
  padding: 5px;
  color: gray;
}

/**************** NavBar Section *****************/
#navHead {
  padding: 20px 0;
}
#navHead .container .smart a {
  color: #19232D;
  text-decoration: none;
}
#navHead .container .smart a p {
  font-size: 250%;
  padding: 30px 0;
  font-weight: 900;
}
#navHead .container .smart a p span {
  color: #C0392B;
}
@media screen and (max-width: 799px) {
  #navHead .container .smart a {
    text-align: center;
  }
}
#navHead .container .row .col-md-12 > ul {
  padding: 0;
  background-color: #19232D;
  position: relative;
  border-bottom: 2px solid #2F4154;
}
#navHead .container .row .col-md-12 > ul > li {
  float: left;
  padding: 12px 25px;
  margin-bottom: -2px;
}
#navHead .container .row .col-md-12 > ul > li:hover {
  background-color: #1E2935;
  transition: all 0.3s ease;
  border-bottom: 2px solid #C0392B;
}
#navHead .container .row .col-md-12 > ul > li > a {
  text-decoration: none;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul > li > i {
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .menuDropFeatures:hover .dropDownMenuFeatures {
  display: block;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures {
  position: absolute;
  z-index: 10;
  padding: 30px 20px;
  background-color: #19232D;
  top: 47px;
  left: 0;
  width: 100%;
  display: none;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul {
  padding-left: 10px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul a {
  text-decoration: none;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul a h5 {
  padding: 10px 0;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid #2F4154;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul li {
  padding: 10px 0px;
  border-bottom: 0.1px solid #1F2C38;
  font-size: 13px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuFeatures ul li i {
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .menuDropEnter:hover .dropDownMenuEnter {
  display: block;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter {
  position: absolute;
  z-index: 10;
  background-color: #19232D;
  top: 47px;
  left: 0;
  width: 100%;
  display: none;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-3 ul {
  background-color: #1E2935;
  height: 370px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-3 ul a {
  text-decoration: none;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-6 ul li img {
  width: 100%;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter .col-md-6 ul li a .imageTitle {
  padding: 2px 5px;
  border-width: 0 0 0 2px;
  border-color: #C0392B;
  border-left: 4px solid #C0392B;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul {
  padding: 30px 28px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul li {
  padding: 20px 0 0 0;
  font-size: 14px;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul li a {
  text-decoration: none;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 > ul .dropDownMenuEnter ul h5 {
  padding: 12px 0;
  margin: 0;
  border-bottom: 1px solid #2F4154;
  color: #D7DADE;
}
#navHead .container .row .col-md-12 .smallNavBar {
  background-color: #19232D;
}
#navHead .container .row .col-md-12 .smallNavBar ul {
  padding: 0;
}
#navHead .container .row .col-md-12 .smallNavBar ul li {
  float: left;
  padding: 12px;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left input {
  display: none;
  background-color: #19232D;
  border: none;
  outline: none;
  color: #EFEFEF;
  width: 100%;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left input::placeholder {
  color: white;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left a {
  text-decoration: none;
  color: #EFEFEF;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left a p {
  margin: 0;
}
#navHead .container .row .col-md-12 .smallNavBar ul .left a p span {
  font-size: 12px;
}
#navHead .container .row .col-md-12 .smallNavBar ul i {
  color: #EFEFEF;
  font-size: 18px;
}
#navHead .container .row .col-md-12 .smallNavBar ul .listBtn {
  background-color: #C0392B;
}
#navHead .container .row .col-md-12 .smallNavBarItem {
  background-color: #19232D;
  display: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li {
  padding: 12px 20px;
  border-top: 1px solid #1F2C38;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li a {
  color: #EFEFEF;
  text-decoration: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul li i {
  color: #EFEFEF;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem {
  display: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem li {
  padding: 7px 28px;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem .featuresItemItem {
  display: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem ul .featuresItem .featuresItemItem li {
  padding: 9px 50px;
  border: none;
}
#navHead .container .row .col-md-12 .smallNavBarItem .activeSmall {
  background-color: #1E2935;
}

/**************** Slider Section *****************/
#homeSliderSection {
  display: none;
  background-color: #F2F2F2;
  padding: 30px 0;
}
#homeSliderSection .container .row .col-md-8 .homeSlider {
  position: relative;
}
#homeSliderSection .container .row .col-md-8 .homeSlider .slideImage {
  width: 100%;
}

/**************** News Section *****************/
#homeNewsSection {
  padding: 40px 0;
}
#homeNewsSection img {
  width: 100%;
}
#homeNewsSection .container .row .left {
  padding-right: 30px;
  border-right: 1px solid #D7DADE;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #homeNewsSection .container .row .left {
    padding: 0;
    border: none;
  }
}
@media screen and (max-width: 767px) {
  #homeNewsSection .container .row .left {
    padding: 0;
    border: none;
  }
}
#homeNewsSection .container .row .left .row .leftBorder {
  border-right: 1px solid #D7DADE;
}
@media screen and (max-width: 767px) {
  #homeNewsSection .container .row .left .row .leftBorder {
    border: none;
  }
}
#homeNewsSection .container .row .left .row .col-md-6 a {
  color: #19232D;
  font-family: "Roboto Slab", Georgia, serif;
}
#homeNewsSection .container .row .left .row .leftItem {
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  #homeNewsSection .container .row .left .row .leftItem {
    border: none;
    margin: 20px 0;
    padding-right: 0;
  }
}
#homeNewsSection .container .row .left .row .leftItemRight {
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  #homeNewsSection .container .row .left .row .leftItemRight {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #homeNewsSection .container .row .left .row .leftItemRight {
    border: none;
  }
}
#homeNewsSection .container .row .left .row .col-md-6 .listDivEnter {
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  #homeNewsSection .container .row .left .row .col-md-6 .listDivEnter {
    padding: 0;
  }
}
#homeNewsSection .container .row .left .row .col-md-6 .listDivEnter ul {
  border: none;
}
#homeNewsSection .container .row .left .row .col-md-6 .listDivEnter ul li {
  padding: 0;
  margin-bottom: 20px;
}
#homeNewsSection .container .row .left .row .homeItemListBottom li {
  padding: 10px 0;
  font-size: 13px;
  border-top: 1px solid #D7DADE;
}
#homeNewsSection .container .row .left .row .homeItemListBottom li i {
  color: #C0392B;
}
#homeNewsSection .container .row .left .row .homeItemListBottom li a {
  color: #19232D;
}

/**************** Foot Section *****************/
#footer {
  background-color: #19232D;
  color: #D7DADE;
}
#footer .container .row .col-md-4 .aboutPostPhoto {
  padding: 50px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto h5 {
  border-bottom: 1px solid #2F4154;
  padding: 10px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto h3 {
  padding: 15px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto h3 span {
  color: #C0392B;
}
#footer .container .row .col-md-4 .aboutPostPhoto p {
  line-height: 25px;
}
#footer .container .row .col-md-4 .aboutPostPhoto label {
  display: block;
  font-weight: normal;
  padding: 10px 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto input {
  background-color: #1F2C38;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: #D7DADE;
  width: 70%;
}
#footer .container .row .col-md-4 .aboutPostPhoto input::placeholder {
  color: #D7DADE;
}
#footer .container .row .col-md-4 .aboutPostPhoto button {
  background-color: #2A3C4C;
  border: none;
  padding: 5px 15px;
  outline: none;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul {
  list-style-type: none;
  padding: 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li {
  padding-top: 30px;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li a {
  text-decoration: none;
  color: #D7DADE;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li .col-md-3 img {
  width: 100%;
}
#footer .container .row .col-md-4 .aboutPostPhoto ul li .col-md-9 .dropDownRightComment a h5 {
  padding: 11px 0;
  margin: 0;
}
#footer .container .row .col-md-4 .aboutPostPhoto .flickrGallery {
  padding-top: 20px;
}
#footer .container .row .col-md-4 .aboutPostPhoto .flickrGallery img {
  margin: 6px;
}

/**************** CopyRight Section *****************/
#footCopyright {
  background-color: #121A21;
  padding: 12px 0;
  color: gray;
}
#footCopyright p {
  margin: 0;
}
#footCopyright ul {
  margin: 0;
}
#footCopyright a {
  color: lightgray;
}

#content {
  width: 100%;
}
#content .wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
#content .wrapper .container .row .col-md-8 .myPadding {
  padding: 0px 45px 0px 0px;
}
#content .wrapper .container .row .col-md-8 .col-md-6 .imageSide {
  width: 100%;
}
#content .wrapper .container .row .col-md-8 .col-md-6 .imageSide img {
  width: 100%;
}
#content .wrapper .container .row .col-md-8 .col-md-6 .imageSide .imgInfo {
  padding: 5px 10px 5px 10px;
  background-color: #F2F2F2;
  height: 28px;
}
#content .wrapper .container .row .col-md-8 .col-md-6 .imageSide .imgInfo time {
  float: left;
  color: #949697;
}
#content .wrapper .container .row .col-md-8 .col-md-6 .imageSide .imgInfo i {
  float: right;
  color: #949697;
}
#content .wrapper .container .row .col-md-8 .col-md-6 h4.headingClass {
  font-size: 17px;
}
#content .wrapper .container .row .col-md-8 .col-md-6 p {
  color: #949697;
  font-size: 14px;
}
