#content{
	width: 100%;
	.wrapper{
		width: 80%;
		margin: 0 auto;
		background-color: $colorLight;
		.container{
			.row{
				.col-md-8{
					h2.headClass{
						@extend .myHeading;
						}
					.myPadding{
						padding: 0px 45px 0px 0px;
					}					
					.col-md-6{
						.imageSide{
							width: 100%;							
							img{
								width: 100%;
							}
							.imgInfo{
								padding: 5px 10px 5px 10px;
								background-color: $colorGray;
								height: 28px;
								time{
									float: left;
									color: $colorP;
								}
								i{
									float: right;
									color: $colorP;
								}
							}							
						}
						h4.headingClass{
								@extend .myHeading;
								font-size: 17px;
							}
						p{
							color: $colorP;
							font-size: 14px;
						}
					}
				}
			}
		
		}
	}
}